.BrandArea {
  display: inline-block;
  height: inherit;
  min-width: 200px;

  padding: 20px 0;

  & img {
    height: auto;
    width: auto;
  }
  
  & a {
    font-family: var(--font-family-sans-serif);
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--brand-color);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}



.MenuArea ul {
  list-style: none;

  &, & li {
    display: flex;
    flex-direction: row;
    
    margin-right: 10px;

    & a {
      padding: 28px 15px;
      color: var(--menu-text-color);

      width: auto;

      font-size: 16px;
      font-weight: 600;

      text-transform: capitalize;

      &:focus {
        font-weight: 700;
      }

      &:hover, &:active, &:focus {
        /* added brand color */
        background-color: rgba(#0577cc, 0.1);
        border-bottom: 2px solid var(--brand-color);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}